.card__img {
    width: 304px;
    height: 405px;
    z-index: -5;
}

.card__place {
    margin: 10px 0 0;
    font-weight: bold;
}

.card__place_red {
    color: red;
    margin: 10px 0 0;
    font-weight: bold;
}